@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap');

body{
    background-color: black;
    
}
h2
{  
      text-align: center;
    color:aquamarine;
    font-family: "Dancing Script", cursive;


}
h3{
    text-align: center;
    color:aqua;
    font-family: "Edu VIC WA NT Hand Pre", cursive;

    
}
.hello
{
    text-align: center;
    font-family: "Handlee", cursive;

}
