@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.hello
{
    color:aquamarine;
    font-family: "Edu VIC WA NT Hand Pre", cursive;

}
body{
    background-color: black;
}
.xty{
    text-align: center;
}